.App {
    text-align: center;
    background-color: #e8e8e8;
}

:root {
    --timeline-height : 62px;
    --moment-full-height : 52px;
    --moment-button-size : 16px;
    --moment-number-flag-height : 14px;
    --moment-regular-width : 52px;
    --current-moment-width : calc(var(--moment-regular-width) * 1.6);
    --moment-control-zone-height : calc(var(--moment-button-size) + 2px);
}

.story-panel-wide {
    display: flex;
    height: var(--timeline-height);
    width: 100vw;
    text-align: left;
    border: none;
    overflow: auto;
    /* background-color: dodgerblue; */
}

/*
.story-panel-tall {
    background-color: #ccddee;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 96vw;
    padding-left: 2vw;
    text-align: left;
    border: none;
    overflow: auto;
}
*/

.control-area {
    display: flex;
    height: var(--timeline-height);
    text-align: left;
    border: none;
    overflow: auto;
    background-color: #89a;

    padding-left: 8px;
    padding-right: 4px;
}

.story-area {
    display: flex;
    height: var(--timeline-height);
    text-align: left;
    border: none;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 8px solid gray;
}

/*
.focus-area {
    !*
    display: flex;
    height: 48px;
    width : 90vw;
    *!
    text-align: left;
    border: none;
    overflow: auto;
    font-size: 11px;
}
*/

.message {
    width: 72px;
    font-size: 9px;
    margin: 2px;
    padding: 4px;
}

.story-child {
    border-radius: 8px;
    height: var(--moment-full-height);
    /*border: 1px solid #000;*/
    overflow: hidden; /*  was auto    */
    cursor: pointer;
    user-select: none;
    margin: 2px;
    border : 0;
    padding : 0;
}

.moment {
    height: var(--moment-full-height);
    width: var(--moment-regular-width);
    background-color: #bcd; /* #9ab;    */
    text-align: center;
    position: relative;
    /*
    because absolute positioning of children requires positioning of parent.
    In this case, the children are the moment control zone and the moment number.
     */

    border : 1px solid;
    padding : 1px;
    transition: width 0.5s;
}


/**
for the current moment
 */
.current {
    background-color: #abc;
    height: var(--moment-full-height);
    width : var(--current-moment-width);
    border: 2px solid;
    padding : 0;

    flex : none;    /*  width does not flex when more moments appear    */
}

.unsavedMoment {
    background-color: #def;
}

.moment-title-zone {
    text-align: left;
    font-size: 9px;
    padding: 4px;
    flex : 1;
}

.moment-control-zone {
    height : var(--moment-control-zone-height);
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    flex-shrink: 0;
    position: absolute;
    /*
    bottom : 0;
    */
    display: flex;
    width : 100vw;
    transition: 0.5s;
}

.moment .moment-control-zone {
    bottom : calc(-1 * var(--moment-control-zone-height));
    display : flex;     /* was none */
}

.moment:hover .moment-control-zone {
    bottom : 0;
    display : flex;
}

.moment-button {
    cursor : pointer;
    height : var(--moment-button-size);
    width : var(--moment-button-size);
    border-radius: calc(var(--moment-button-size) / 2);
    color : white;
    background-color: dodgerblue;
    font-size: calc(var(--moment-button-size) - 2px);
    font-weight: bold;
    margin : 1px;
}

.delete-button {
    background-color: red;
}

.revert-button {
    background-color: darkgrey;
}

.new-moment-button {
    background-color: darkgreen;
}

.save-moment-button {
    background-color: darkblue;
}

.moment-number {
    position : absolute;

    bottom : 0;
    right : 0;

    height : var(--moment-number-flag-height);
    width : calc(1.5 * var(--moment-number-flag-height));
    font-size: calc(var(--moment-number-flag-height) - 2px);

    background-color: brown;
    color : yellow;
    border-top-left-radius: 8px;
}

.title-editor {
    font-family: Verdana,sans-serif;
    /*
    font-size: 9px;
    */

    width : calc(var(--current-moment-width) - 8px);
    height : calc(var(--moment-full-height) - 8px);
}

.tool {
    width: 28px;
    background-color: gold;
    text-align: center;
    vertical-align: middle;
}

.tool-small-icon {
    font-size: 0.8em;
    position: relative;
    top: -2px;
}

.icon-button {
    font-size: 20px;
    padding: 4px 6px 0;

    /*
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 0;
    */
    /*
    padding: 8px;
    */
}

.container-drag {
    background-color: #def;
}

.userChoiceDialog {
    position: fixed;
    display: block;
    top: 100px;
    left: 100px;
    margin: 1em;
    height: 200px;
    width: 200px;
}
