.App {
    text-align: center;
    background-color: #e8e8e8;
}

:root {
    --timeline-height : 62px;
    --moment-full-height : 52px;
    --moment-button-size : 16px;
    --moment-number-flag-height : 14px;
    --moment-regular-width : 52px;
    --current-moment-width : calc(var(--moment-regular-width) * 1.6);
    --moment-control-zone-height : calc(var(--moment-button-size) + 2px);
    --shutter-button-size : calc(var(--moment-regular-width) * 0.7);
    --story-area-background : #def;
}

/*
    This is the entite panel, consisting of the control area on the left
    and the (main thing) story area to the right
 */
.story-panel-wide {
    display: flex;
    height: var(--timeline-height);
    width: 100vw;
    text-align: left;
    border: none;
    overflow: auto;
    /* background-color: dodgerblue; */
}

/*
    Child of the story-panel. Houses any global-ish buttons
    such as the info icon that brings up help
 */
.control-area {
    display: flex;
    height: var(--timeline-height);
    text-align: left;
    border: none;
    overflow: auto;
    background-color: #89a;

    padding-left: 8px;
    padding-right: 4px;
}

/*
    A parent corral that holds the strip of moments
 */
.story-area {
    display: flex;
    height: var(--timeline-height);
    text-align: left;
    border: none;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    border-right: 8px solid gray;
    background-color: var(--story-area-background);
}


.message {
    width: 72px;
    font-size: 9px;
    margin: 2px;
    padding: 4px;
}

/*
    Things that live in the story-area such as moments and the shutter icon
 */
.story-child {
    border-radius: 8px;
    height: var(--moment-full-height);
    overflow: hidden; /*  was auto    */
    cursor: pointer;
    user-select: none;
    margin: 2px;
    border : 0;
    padding : 0;
}

/*
    The main type of story-child.
 */
.moment {
    height: var(--moment-full-height);
    width: var(--moment-regular-width);
    background-color: #bcd; /* #9ab;    */
    text-align: center;
    position: relative;
    /*
    because absolute positioning of children requires positioning of parent.
    In this case, the children are the moment control zone and the moment number.
     */

    border : 1px solid;
    padding : 1px;
    transition: width 0.5s;
}


/**
    special properties for the current moment
    especially: wider
    also gets a bold border and a slightly darker backgrouund
 */
.current {
    background-color: #abc;
    height: var(--moment-full-height);
    width : var(--current-moment-width);
    border: 2px solid;
    padding : 0;

    flex : none;    /*  width does not flex when more moments appear    */
}

/*
    indicates a moment that has not yet been saved
 */
.unsavedMoment {
    background-color: #def;
}

/*
    moment titles appear at the top
 */
.moment-title-zone {
    text-align: left;
    font-size: 9px;
    padding: 4px;
    flex : 1;
}

/*
    houses moment controls (such as the delete button)
    this appears and disappears on hover
 */
.moment-control-zone {
    height : var(--moment-control-zone-height);
    width : calc(var(--current-moment-width) - 6px);
    background-color: white;
    padding-left: 4px;
    padding-right: 4px;
    flex-shrink: 0;
    position: absolute;
    /*
    bottom : 0;
    */
    display: flex;
    transition: 0.5s;
}

/*
    the position of the moment-control-zone is out of the frame by default...
 */
.moment .moment-control-zone {
    bottom : calc(-1 * var(--moment-control-zone-height));
    display : flex;     /* was none */
}

/*
    ...but flush with the bottom when we hover over the moment
 */
.moment:hover .moment-control-zone {
    bottom : 0;
    display : flex;
}

/*
    these live in the moment-control-zone.
    Specific button styles follow
 */
.moment-button {
    cursor : pointer;
    height : var(--moment-button-size);
    width : var(--moment-button-size);
    border-radius: calc(var(--moment-button-size) / 2);
    color : white;
    background-color: dodgerblue;
    font-size: calc(var(--moment-button-size) - 2px);
    font-weight: bold;
    margin : 1px;
}

/*
    specific moment button for delete
 */
.delete-button {
    background-color: red;
}

.revert-button {
    background-color: darkgrey;
}

.new-moment-button {
    background-color: darkgreen;
}

.save-moment-button {
    background-color: darkblue;
}

/*
    The moment number appears in the lower right of a moment,
    and is covered by the moment-control-zone when it appears.
 */
.moment-number {
    position : absolute;

    bottom : 0;
    right : 0;

    height : var(--moment-number-flag-height);
    width : calc(1.5 * var(--moment-number-flag-height));
    font-size: calc(var(--moment-number-flag-height) - 2px);

    background-color: brown;
    color : yellow;
    border-top-left-radius: 8px;
}

.title-editor {
    font-family: Verdana,sans-serif;
    width : calc(var(--current-moment-width) - 8px);
    height : calc(var(--moment-full-height) - 8px);
}


.tool-small-icon {
    font-size: 0.8em;
    position: relative;
    top: -2px;
}

.tool {
    width: 28px;
    background-color: gold;
    text-align: center;
    vertical-align: middle;
}

.shutter-button {
    height: var(--shutter-button-size);
    width : var(--shutter-button-size);
    border: 0;
    background: radial-gradient(gold, var(--story-area-background));
    background-color: gold;
    text-align: center;
    margin-top: 8px;
    padding: 6px 0 0;
    border-radius: calc(var(--shutter-button-size) / 2.0);
    cursor: pointer;
}

.shutter-img {
    opacity: 0.7;
}

.icon-button {
    font-size: 20px;
    padding: 4px 6px 0;
}

.container-drag {
    background-color: #def;
}

.userChoiceDialog {
    position: fixed;
    display: block;
    top: 100px;
    left: 100px;
    margin: 1em;
    height: 200px;
    width: 200px;
}
