.App {
    text-align: center;
}

.App div {
    margin: 0;
    padding : 0;
    border-radius: 8px;
    /*background-color: black;*/
}

.story-area {
    display: flex;
    height: 60vh;
    width : 90vw;
    text-align: left;
    border: none;
    overflow: auto;
}

.story-child {
    /*flex-grow: 1;*/
    /*word-wrap: break-word;*/
    height: 20vh;
    width : 5vw;
    text-align: left;
    border: 1px solid #ff0;
    overflow: auto;
    cursor: pointer;
    margin : 4px;
    padding : 4px;
}

.marker {
    background-color: lightsteelblue;
    margin : 4px;
    padding : 4px;
}

.clear-button {
    background-color: gold;
    margin : 4px;
    padding : 4px;
}